<a class="navbar-brand" href="#">onering.io</a>
<ul class="nav navbar-nav">
	<li id="navDashboard"><a href="#home">Dashboard</a></li>
	<li id="navSettings"><a href="#settings">Settings</a></li>
</ul>

<form action="/logout" method="post" class="navbar-form navbar-right">
	<button action="" id="login" type="submit" class="btn btn-default">Log Out</button>
</form>
<p class="navbar-text navbar-right">Signed in as {{email}}</p>
