<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <h2>Getting started with onering.io is easy!</h2>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">



  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Step 1: Sign up for a free Plivo account</h3>
    </div>
    <div class="panel-body">
      Head over to <a href="http://plivo.com/" target="_blank">plivo.com</a> and sign up for an account.
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Step 2: Confirm your Plivo account</h3>
    </div>
    <div class="panel-body">
      You'll need to confirm your account with Plivo by clicking the link in the activation email they send you.  Once you've logged in for the first time, you should be prompted to confirm your cell phone number.  Plivo will call your cell phone with an activation code.
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Step 3: Create a onering.io account</h3>
    </div>
    <div class="panel-body">
      <p>
      hey! you can do that right here! To get started we need your email, Plivo Auth ID, Auth Token, and Plivo phone number.
      </p>
      <form onsubmit="" role="form">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" name="firstname" class="form-control" id="firstname" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="auth_id">Plivo Auth ID</label>
          <input type="text" name="auth_id" class="form-control" id="auth_id" placeholder="###">
        </div>
        <div class="form-group">
          <label for="auth_token">Plivo Auth Token</label>
          <input type="text" name="auth_token" class="form-control" id="auth_token" placeholder="###">
        </div>
        <div class="form-group">
          <label for="plivoNumber">Plivo Phone Number</label>
          <input type="number" name="plivoNumber" class="form-control" id="plivoNumber" placeholder="12061234567">
        </div>
        <button id="formButton" type='button'>Submit</button>
      </form>
    </div>
  </div>
</div>