<a class="navbar-brand" href="#">onering.io</a>
<form action="/login" method="post" class="navbar-form navbar-right">
	<div class="form-group">
		<input type="email" name="email" required class="form-control" placeholder="email">
	</div>
	<button action="/v1/user" id="login" value=Login type="submit" class="btn btn-default">Log In</button>
</form>
